<div class="div-login" ng-controller="loginController">	
<div class="container2" >
		<img src="./views/img/man.png">
		<form>
			<div class="form-input">
				<input type="text" name="username" ng-model="username" placeholder="Enter username" required>
			</div>
			<div class="form-input">
				<input type="password" name="password" ng-model="password" placeholder="Enter password" required>
			</div>
			<input type="submit" name="submit" value="LOGIN" class="btn-login" data-ng-click="login()">
			<input type="submit" name="submit" value="REGISTER" class="btn-login" data-ng-click="register()">
		</form>
	</div>
	<footer id="footer-text">
		<p>App designed by: Paweł Walczak & Konrad Sobolewski</p>
	</footer>
</div>

