body
{
    background-color:#2f2f2f;
    color:lightgray;
    font-size:20px;
    font-family: 'Inconsolata', monospace;
    font-weight:700;
}

h1 
{
  padding:5px;
  font-style: italic;
}


.whitePiece
{
    width:70px;
    height:70px;
    text-align: center;
    border: solid #000000;
    border-width: 0px;
    border-radius: 5%;
    float:left;
    background-color: #EEEFFE;
}	

.blackPiece
{
    width:70px;
    height:70px;
    text-align: center;
    border: solid #000000;
    border-width: 0px;
    border-radius: 5%;
    float:left;
    background-color: #4f4f4f;
}

.blackPiece:hover
{
    background-color: #5c5c5c; 
    cursor: pointer;
} 
.blackPiece:active
{
    background-color: #FF7F7F; 
    cursor: pointer;
} 

.CppButton
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.CppButton:hover
{
    background-color: #5CAF50; /* Green */  
    cursor: pointer;  
}
