body
{
    background-color:#2f2f2f;
    color:lightgray;
    font-size:20px;
    font-family: 'Inconsolata', monospace;
    font-weight:700;
}

.piece
{
    width:70px;
    height:70px;
    text-align: center;s
    border: solid #000000;
    border-width: 1px;
    border-radius: 5%;
    float:left;
}

.piece:hover
{
    background-color: #FF7F7F; 
    cursor: pointer;
} 



.whitePiece
{
    width:70px;
    height:70px;
    text-align: center;s
    border: solid #000000;
    border-width: 1px;
    border-radius: 5%;
    float:left;
    background-color: #EEEFFE;
}

	

.blackPiece
{
    width:70px;
    height:70px;
    text-align: center;
    border: solid #000000;
    border-width: 1px;
    border-radius: 5%;
    float:left;
    background-color: #4f4f4f;
}

.blackPiece:hover
{
    background-color: #5c5c5c; 
    cursor: pointer;
} 
.blackPiece:active
{
    background-color: #FF7F7F; 
    cursor: pointer;
} 	


