.whitePiece
{
    width:100px;
    height:100px;
    text-align: center;
    border: solid #000000;
    border-width: 1px;
    border-radius: 5%;
    float:left;
    background-color: #EEEFFE;
}

.whitePiece:hover
{
    background-color: #FF7F7F; 
    cursor: pointer;
} 	

.blackPiece
{
    width:100px;
    height:100px;
    text-align: center;
    border: solid #000000;
    border-width: 1px;
    border-radius: 5%;
    float:left;
    background-color: #4f4f4f;
}

.blackPiece:hover
{
    background-color: #FF7F7F; 
    cursor: pointer;
} 	


