<!DOCTYPE HTML>
<html>
<head>
	<title>Checkers Login</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
	<div class="container">
		<img src="./img/man.png">
		<form>
			<div class="form-input">
				<input type="text" name="username" placeholder="Enter username">
			</div>
			<div class="form-input">
				<input type="password" name="password" placeholder="Enter password">
			</div>
			<input type="submit" name="submit" value="LOGIN" class="btn-login">
		</form>
	</div>
	<footer>
		<p>App designed by: Paweł Walczak aka Walczakp007 & Konrad Sobolewski</p>
	</footer>
</body>
</html>
